:root {
    --font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --section-margin-top: 4%;
    --h1-c: #b88255;
    --header-color: #b88255;
    --backgroud-div: #b88255;
    --h1-w: 400;
    --h1-fs: 30px;
    --h1-mb: 4%;
    --logo-name-font-one: 8px;
    --logo-name-font-two: 20px;
    --logo-name-w: 500;
    --h2-fs: 25px;
    --h2-fw: 400;
    --primary-color: white;
    --secondary-color: rgba(49, 47, 47, 0.7);
    --bg-color: white;
    --button-color: #b88255;
    --h1-color: #3F444C;
    --animation-color: #f0a500;
    --form-fs: 16px;
    --text-fs: 16px;
    --text-bigger: 18px;
    --faq-question: 18px;
    --nav-fs: 16px;
    --nav-dd-fs: 13px;
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    background-color: #fff;
    /* color: #333; */
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10% 0px 10%;
    background: transparent;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    z-index: 11;
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);

}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease;
}

.logo-name-container {
    color: white;
}


#logo-name-part-two {
    font-size: var(--logo-name-font-two);
    font-weight: var(--logo-name-w);
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
}

#logo-name-part-one {
    margin: 0;
    padding: 0;
    font-size: var(--logo-name-font-one);
    font-weight: var(--h1-w);
}

.logo img {
    max-height: 45px;
    margin-right: 3px;
}

nav {
    margin-left: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    position: relative;
}

.nav-links li {
    margin-left: 30px;
    position: relative;
}

.first-child {
    margin-left: 0;
}

.nav-links a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--header-color);
    font-size: var(--nav-fs);
    font-weight: 500;
    position: relative;
    padding-bottom: 5px;
}

.nav-links a:after,
footer a:after {
    content: '';
    position: absolute;
    height: 2.5px;
    left: 0;
    bottom: 0;
    width: 0;
    background: var(--animation-color);
    transition: width 0.5s;
}

.nav-links a:hover:after,
footer a:hover:after {
    cursor: pointer !important;
    width: 100%;
}

.language-selector {
    margin-left: 30px;
    width: auto;
    z-index: 15;
}

.language-selector select {
    cursor: pointer;
    /* padding: 5px; */
    /* border: none; */
    border-radius: 5px;
    height: 20px;
    background-color: transparent;
    border: 1px solid white;
    color:white;
    /* color: #333; */
    width: 50px;
    z-index: 15;
    /* font-size: 14px; */
}
.language-selector {
 border: noone;
 border-bottom: 2.5px solid var(--animation-color);
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu span {
    z-index: revert-layer;
    height: 3px;
    background: #fff;
    margin: 4px 0;
    width: 25px;
    transition: all 0.3s ease;
}

.hero {
    display: grid;
    position: relative;
    height: 100vh;
    width: 100%;
    /* display: flex; */
    align-items: center;
    justify-content: flex-start;
    color: white;
    object-fit: cover;
    background: url("../images_resized/background-picture-2.jpeg") center center/cover no-repeat;
    /* animation: bgSlide 45s infinite; */
}

.hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 5;
}

.hero-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 10;
    height: 100%;
}

.hero-description {
    margin-top: 20px;
    margin: 20px auto 0 auto;
    width: 60%;
    text-align: center;
    /* margin-left: 10%; */
    text-wrap: pretty;
}


.hero-heading-wrap {
    width: 100%;
    display: flex;
    text-align: center;


}

.hero-heading-wrap>div {
    margin: 0 auto;
}



.hero-heading {
    text-transform: uppercase;
    /* animation: headingColors 45s linear infinite; */
    color: var(--h1-c);
    letter-spacing: 1px;
    font-size:clamp(2rem, 7rem, 10rem);
}

.hero-heading-desert {
    width: 100%;
    text-align: center;
}



.hero-description p {
    /* color: #c6baba; */
    color: #fff;
    line-height: 1.5;
    font-size: 18px;
}


.hero-heading {
    margin-top: 30px;
    transition: opacity 0.5s ease-in-out;
    /* Smooth transition for opacity change */
}


/* Keyframe animation for heading colors */
@keyframes headingColors {
    0% {
        color: #D89F6F;
    }

    33.33% {
        color: #D89F6F;
    }

    66.66% {
        color: #585C68;
    }

    100% {
        color: #47271B;
    }
}

.demo {
    margin: 0 auto;
    position: relative;
    /* Add this to position children correctly */
    text-align: center;
    /* Center align the text within the section */
}

.demo a {
    cursor: pointer;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    color: #c6baba;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
    color: #fff;
    z-index: 10;
    border: 2px solid #fff;
    /* Make initial border transparent */
    padding: 15px 30px;
    background: transparent;
    /* Ensure background is transparent */
    /* border-image: linear-gradient(to right, #fff, var(--button-color), #fff) 1; */
    /* border-image-slice: 1;  */
    /* animation: snake 5s linear infinite;  */
    transition: background 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.demo a:hover {
    background: #b88255;
    /* border-color: #b88255; */
    border-image: none;
    animation: none;
    border-color: var(--button-color);
    /* border-color: var(--animation-color); */
    color: white;
}

@keyframes snake {
    0% {
        border-image-source: linear-gradient(to right, #fff, var(--button-color), #fff);
    }

    25% {
        border-image-source: linear-gradient(to right, var(--button-color), #fff, #fff);
    }

    50% {
        border-image-source: linear-gradient(to right, #fff, var(--button-color), #fff);
    }

    75% {
        border-image-source: linear-gradient(to right, #fff, #fff, var(--button-color));
    }

    100% {
        border-image-source: linear-gradient(to right, #fff, var(--button-color), #fff);
    }
}




.history,
.gallery,
.tour,
.spinner,
.faq,
.cta {
    padding-top: var(--section-margin-top);
    text-align: center;
    width: 100%;
    scroll-margin-top: 40px;
}

.history-card {
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 80%;
}

.history h1,
.tour h1,
.gallery h1,
.faq h1,
.spinner h1 {
    color: var(--h1-c);
    text-transform: uppercase;
    font-weight: var(--h1-w);
    font-size: var(--h1-fs);
    margin-bottom: var(--h1-mb);
}

.history-card-image-2 {
    background-image: url('../images_resized/Mohammad1.jpeg');
}

.history-card-image,
.history-card-image-2 {
    opacity: 1;
    max-width: 60%;
    width: 55%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 85%;
    background: transparent;
}

.history-card-image img,
.history-card-image-2 img {
    opacity: 1;
    object-fit: cover;
    width: 100%;
    /* height: auto; */
    max-height: 30rem;
}



.history-card-block h2 {
    font-size: var(--h2-fs);
    font-weight: var(--h2-fw);
    margin-bottom: 30px;
    color: #fff;
}

.history-card-block {
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    left: 51%;
    max-width: 50%;
    color: var(--primary-color);
    width: 50%;
    height: 100%;
    ;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.history-card-block-styling {
    margin-top: auto;
    margin-bottom: auto;
    background: var(--backgroud-div);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 40px 40px 40px 65px;
    min-height: 20rem;
}


.history-card-block p {
    font-size: var(--text-fs);
    text-wrap: pretty;
    opacity: 1;
    margin: 0;
    line-height: 1.5;
    text-align: left;
}


.history-card-info {
    width: 100%;
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding-top: 40px;
    font-size: var(--text-fs);
    color: #fff;
    /* Set the text color for better visibility */
}


.history-card-info div {
    flex: 1;
    text-align: left;
    padding: 0 5px;
    font-size: var(--text-bigger);
}


.tour {
    width: 100%;
    /* background: url('images/top\ 1\ less\ background.jpeg') center center/cover no-repeat; */
}

.tour-content {
    display: grid;
    grid-gap: 20px;
    /* padding: 0px 0 50px 30px; */
    max-width: 80%;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .tour-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 800px) {
    .tour-content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1500px) {
    .tour-content {
        grid-template-columns: repeat(4, 1fr);
    }
}

.tour-card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
    .tour-card {
        height: 300px;
    }
}

.tour-card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
}

.tour-card:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.320) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.540) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.790) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}

.tour-card:nth-child(1):before {
    background-image: url('../images_resized/background-picture-2.jpeg');
}

.tour-card:nth-child(2):before {
    background-image: url("../images_resized/background-picture-3.jpeg");
}

.tour-card:nth-child(3):before {
    background-image: url("../images_resized/background-picture-2.jpeg");
}

.tour-card:nth-child(4):before {
    background-image: url("../images_resized/background-picture-4.jpeg");
}

.tour-card-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
}

.tour-card-content>*+* {
    margin-top: 1rem;
}

.title {

    font-size: var(--h2-fs);
    font-weight: bold;
    line-height: 1.2;
}

.copy {
    color: var(--primary-color);
    font-size: var(--text-fs);
    line-height: 1.35;
}

.btn {
    cursor: pointer;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;

    background-color: var(--button-color);
    border: none;
    border-radius: 25px;
}

.btn:hover {
    background-color: var(--animation-color);
}

.btn:focus {
    /* outline: 1px dashed yellow; */
    outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
    .tour-card:after {
        transform: translateY(0);
    }

    .tour-card-content {
        transform: translateY(calc(100% - 4.5rem));
    }

    .tour-card-content>*:not(.title) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }

    .tour-card:hover,
    .tour-card:focus-within {
        align-items: center;
    }

    .tour-card:hover:before,
    .tour-card:focus-within:before {
        transform: translateY(-4%);
    }

    .tour-card:hover:after,
    .tour-card:focus-within:after {
        transform: translateY(-50%);
    }

    .tour-card:hover .tour-card-content,
    .tour-card:focus-within .tour-card-content {
        transform: translateY(0);
    }

    .tour-card:hover .tour-card-content>*:not(.title),
    .tour-card:focus-within .tour-card-content>*:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
    }

    .tour-card:focus-within:before,
    .tour-card:focus-within:after,
    .tour-card:focus-within .tour-card-content,
    .tour-card:focus-within .tour-card-content>*:not(.title) {
        transition-duration: 0s;
    }
}


.row {
    max-height: 90vh;
    height: 90vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 4px;
    position: relative;
    overflow: hidden;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    opacity: 1;
    transition: 0.5s;
}

.column img:hover {
    cursor: pointer;
    filter: brightness(0.5);

}


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

/* Button styling for more images */
.more-images {

    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* margin-bottom: 10px; */
    ;
}

.more-images button {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background: #b88255;
    /* Updated background color */
    border: 2px solid #b88255;
    border-radius: 25px;
    text-decoration: none;
    transition: background 0.3s ease, color 0.3s ease;
}

.more-images button:hover {

    background: #a3714d;
    /* Darken the background color on hover */
    color: #fff;
}

.spinner {
    /* height: 20%; */
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 100%;
}

.spinner-container {
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.spinner-items {
    display: flex;
    width: 100%;
    /* width: 500%;  */
}

.spinner-item {
    transition: all 0.5s ease-in-out;
    position: relative;
    width: 20%;
    height: 100%;
}

.spinner-item img {
    object-fit: cover;
    animation: fadeInAnimation ease 3s;
    width: 300px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.5s ease-in-out;
    z-index: 1;
}

.spinner-item p {
    text-align: center;
    animation: fadeInAnimation ease 3s;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    filter: brightness(1);
    font-size: var(--text-fs);
    color: #fff;
    text-transform: uppercase;
    opacity: 1;
    z-index: 2;
    /* Ensure text is above images */
}

.spinner-item:hover {
    transform: translateY(-10px);
}

.spinner-item img:hover {
    /* transform: scale(1.05); */
    filter: brightness(1.2);


}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}


.logo-footer img {
    max-height: 30px;
}



.faq {

    overflow-x: hidden;
}

.faq-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 20px 20px 20px;
    text-align: center;
}

.faq-left {
    width: 50%;
    margin: 0 auto;
}

.faq-item {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.7);
    font-size: var(--faq-question);
    margin-top: 10px;
    background-color: white;
    color: #b88255;
    padding: 10px 0 0px 0;
    display: flex;
    flex-direction: column;
}

.faq-question-wrap img {
    filter: invert(57%) sepia(69%) saturate(302%) hue-rotate(346deg) brightness(84%) contrast(89%);
    width: 25px;
    height: 25px;
}

.faq-question-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    margin-bottom: 5px;
    color: #b88255;
}

.faq-question-wrap:hover img {
    filter: invert(75%) sepia(44%) saturate(4593%) hue-rotate(5deg) brightness(99%) contrast(102%);
}

.faq-question-wrap:hover {
    color: var(--animation-color);
}

.faq-answer {
    /* display: none; */
    margin-top: 10px;
    color: var(--secondary-color);
    font-size: var(--form-fs);
    text-align: left;
    line-height: 1.3rem;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.faq-item.active .faq-answer {
    max-height: 1000px;
    /* Adjust based on your content */
    opacity: 1;
}






/* /* Call-to-Action Section */
/* Call-to-Action Section */
.cta {
    padding: 0;
    position: relative;
    margin-top: 50px;
    height: 22rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cta::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images_resized/background-picture-3jpeg\ \(1\).jpeg") center center/cover no-repeat;
    /* background-color: grey; */
    filter: brightness(0.8);
    z-index: 1;
    /* Ensure it is below the text */
}

.cta-container {

    display: flex;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.cta-content {
    /* background-color: red; */

    z-index: 1;
    flex: 1;
    padding: 20px;
    text-align: center;
    /* margin-left: 10%; */
    width: 100%;
}

.cta-content h2 {
    transition: opacity 0.5s ease, transform 0.5s ease;
    color: white;
    font-weight: 500;
    font-size: 2.5rem;
    margin: 0 0 20px;
    opacity: 1 !important;
    z-index: 2;
}

.cta-content p {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background: #b88255;
    /* Updated background color */
    border: 2px solid #b88255;
    border-radius: 25px;
    text-decoration: none;
    transition: background 0.3s ease, color 0.3s ease;
}

.cta-button:hover {
    background: #a3714d;
    /* Darken the background color on hover */
    color: #fff;
    border-color: var(--animation-color);
}

/* .cta-button:hover {
    background-color: var(--animation-color);

} */

.cta-image {
    flex: 1;
    text-align: right;
    padding: 20px;
    margin-right: 10%;
    width: 40%;
}

.cta-image img {
    max-width: 100%;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .cta-container {
        flex-direction: column;
        text-align: center;
    }

    .cta-content {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .cta-image {
        width: 100%;
        margin-right: 0;
        text-align: center;
    }
}



footer {
    background-color: #fff;
    padding: 60px 0 20px 0;
    text-align: center;
    color: #D89F6F;
    clear: both;
    /* Ensure footer is positioned below content */
}

footer a {
    position: relative;
    text-decoration: none;
    color: #D89F6F;
    margin: 0 15px;
    padding-bottom: 5px;
}



footer div {
    margin-bottom: 10px;
}

footer div:last-child {
    font-size: 14px;
}

footer img {
    max-height: 30px;
}

footer img:hover {
    filter: invert(99%) sepia(88%) saturate(3965%) hue-rotate(303deg) brightness(89%) contrast(90%);
    transform: scale(1.1);
    cursor: pointer;
}




/* Extra Small Devices (Portrait Phones) */
@media (max-width: 320px) {
    .language-selector {
        margin-left: 0;
     }
     
}

/* Small Devices (Landscape Phones) */
@media (min-width: 321px) and (max-width: 480px) {

    :root {
        --h1-mb: 25px;
        --secondary-color: rgb(0 0 0 / 70%);
    }

    .history h1,
    .tour h1,
    .gallery h1,
    .faq h1,
    .spinner h1 {
        margin-top: 25px;
    }

    .hero {
        background: url("../images_resized/backgroud_mobile.jpg") center center/cover no-repeat;
    }

    header {
        padding: 0 5px 0 5px;
        background: white;
        color: black;
    }

    .logo-name-container {
        color: black;
    }

    .hamburger-menu {
        filter: invert(57%) sepia(21%) saturate(943%) hue-rotate(345deg) brightness(93%) contrast(87%);
        display: flex;
        z-index: 16;
    }

    .language-selector {
       margin-left: 0;
    }
    

    nav {
        display: none;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 70%;
        background: white;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        transition: right 0.3s ease;
        z-index: 15;
    }

    nav.active {
        z-index: 15;
        display: block;
        right: 0;
    }

    .nav-links {
        flex-direction: column;
        padding: 50px 20px;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .nav-links a {

        /* color: black; */
        font-size: var(--nav-fs);
        font-weight: 500;
    }



    /* Overlay styles */
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
        z-index: 10;
        transition: opacity 0.3s ease;
    }

    .overlay.active {
        display: block;
        opacity: 1;
    }

    .history-card {
        display: block;
        /* padding:  0 20px 20px 20px; */
        width: 100%;
    }

    .history-card-image-2,
    .history-card-image {
        position: relative;
        max-width: 100%;
        width: 100%;
    }

    .history-card-image-2 {
        display: none;
    }

    .history-card-block {
        /* background-color: #fff; */
        position: relative;
        max-width: 100%;
        width: 100%;
        left: 0;
    }

    .history-card-block p {
        line-height: 1.6;
    }

    .history-card-block-styling {
        background-color: #fff;
        padding: 10px;
        color: var(--secondary-color);
        min-height: fit-content;
    }


    .faq-left {
        width: 100%;
        text-align: left;
    }

    .hero-description {

        width: 90%;
        padding-top: 20px;

    }

    .row {
        padding: 0;
        /* flex-wrap:nowrap; */
    }

    .column img {
        margin-top: 2px;
    }

    .column {
        padding: 0 2px;
    }

    .tour-content {
        padding: 0;
    }

    .cta {
        height: 20rem;

    }

    .cta::before {
        background: url("../images_resized/background-picture-3.jpeg") center center/cover no-repeat;
    }

    .cta-content h2 {
        font-size: var(--h2-fs);
    }

    .spinner-items {
        overflow-x: auto;
    }

    .spinner-item {
        width: 100%;
    }


    .spinner-item:hover {
        transform: translateY(o);
    }

    .spinner-item img:hover {
        /* transform: scale(1.05); */
        filter: brightness(1);


    }

}

/* Small Tablets (Portrait) */
@media (min-width: 481px) and (max-width: 768px) {
    :root {
        --nav-fs: 12px;
        --text-fs: 12px;
        --h1-fs: 20px;
        --price-fs: 15px;
        --tour-link-fw: 300;
        --form-fs: 12px;
    }

    .hero {
        height: 100vh;
    }

    .spinner-item img {
        height: 270px;
    }

    .container {
        flex-direction: column;
        width: 90%;
    }

    .spinner-container {
        display: none;
    }

    header {
        /* flex-direction: column; */
        align-items: flex-start;
        padding: 10px;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .left-col {
        display: none;
    }

    .right-col {
        padding: 0rem 0 5rem 1rem;
        height: 90%;
    }

    .faq-left {
        width: 90%;
    }

    footer div:last-child {
        font-size: 12px;
    }

    footer a {
        font-size: var(--nav-fs);
    }

    footer a:after,
    .tour-links a:after,
    .nav-links a:after {
        height: 2px;
    }

    .spinner-item:hover {
        transform: translateY(o);
    }

    .spinner-item img:hover {
        /* transform: scale(1.05); */
        filter: brightness(1);


    }
}

/* Large Tablets (Landscape) */
@media (min-width: 769px) and (max-width: 1024px) {
    :root {
        --nav-fs: 14px;
        --text-fs: 14px;
        --h1-fs: 24px;
        --price-fs: 17px;
        --tour-link-fw: 400;
        --form-fs: 12px;
    }

    .spinner-item img {
        height: 270px;
    }

    footer div:last-child {
        font-size: 12px;
    }

    footer a {
        font-size: var(--nav-fs);
    }

    footer a:after,
    .tour-links a:after,
    .nav-links a:after {
        height: 2px;
    }

    .spinner-item:hover {
        transform: translateY(o);
    }

    .spinner-item img:hover {
        /* transform: scale(1.05); */
        filter: brightness(1);


    }
}

/* Small Desktops */
@media (min-width: 1025px) and (max-width: 1200px) {
    :root {
        --h2-fs: 19px
    }

    .history-card-block h2 {
        display: none;
        /* font-size: var(--h2-fs);
        margin-bottom: 10px; */
    }

    .history-card-block {
        margin: 0;
        /* padding: 20px 10px 20px 35px; */
        font-size: 13px;
    }

    .history-card-info div {
        text-align: left !important;
    }

    .history-card-info {
        font-size: 11px;
    }

    .spinner-container {
        height: 80%;
    }

    .spinner-item img {
        object-fit: cover;
        animation: fadeInAnimation ease 3s;
        width: 90%;
        height: 310px;

    }
}

/* Medium Desktops */
@media (min-width: 1201px) and (max-width: 1600px) {
    .spinner-item img {
        object-fit: cover;
        animation: fadeInAnimation ease 3s;
        width: 90%;
        height: 310px;
    }

    .hero-description {
        margin-top: 40px;
    }
}

/* Large Desktops */
@media (min-width: 1601px) {}