:root {
    --font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    --section-margin-top: 4%;
    --nav-fs: 16px;
    --text-fs: 18px;
    --h1-c: #b88255;
    --header-color: #b88255;
    --h1-w: 500;
    --h4-w: 450;
    --tour-link-fw: 400;
    --h1-fs: 30px;
    --h1-mb: 4%;
    --logo-name-font-one: 8px;
    --logo-name-font-two: 20px;
    --logo-name-w: 500;
    --primary-color: white;
    --secondary-color: rgba(49, 47, 47, 0.7);
    --form-color: #818386;
    --bg-color: white;
    --button-color: #b88255;
    --h1-color: #3F444C;
    --animation-color: #FF6F61;
    --backgroud-div: #b88255;
    --price-fs: 18px;
    --form-fs: 16px;
    --nav-dd-fs: 13px;
    --d: 700ms;
    --e: cubic-bezier(0.19, 1, 0.22, 1);
    --h2-fs: 18px;
    --buttons-padding:12px 24px;
    --buttons-background:linear-gradient(135deg, #FF914D, #FF6F61);
    --buttons-backgorund-hover: linear-gradient(135deg, #FF6F61, #FF914D);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    background-color: #fff;
    color: #333;
}


header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10% 0px 10%;
    background: transparent;
    z-index: 11;
    transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);

}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease;
}

.logo-name-container {
    color: white;
}



#logo-name-part-two {
    font-size: var(--logo-name-font-one);
    font-weight: var(--logo-name-w);
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
}

#logo-name-part-one {
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    font-size: var(--logo-name-font-one);
    font-weight: var(--h1-w);
}

.logo img {
    max-height: 45px;
    margin-right: 3px;
}

nav {
    margin-left: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    position: relative;
}

.nav-links li {
    margin-left: 30px;
    position: relative;
}

.first-child {
    margin-left: 0;
}

.nav-links a {
    text-transform: uppercase;
    text-decoration: none;
    color: var(--header-color);
    font-size: var(--nav-fs);
    font-weight: 500;
    position: relative;
    padding-bottom: 5px;
}

.nav-links a:after,
footer a:after {
    content: '';
    position: absolute;
    height: 2.5px;
    left: 0;
    bottom: 0;
    width: 0;
    background: var(--animation-color);
    transition: width 0.5s;
}

.nav-links a:hover:after,
footer a:hover:after {
    cursor: pointer !important;
    width: 100%;
}

.language-selector {
    font-size: var(--nav-fs);
    margin-left: 30px;
    width: fit-content;
    z-index: 15;
    border: none;
    border-bottom: 2.5px solid var(--animation-color);
}

.language-selector select {
    cursor: pointer;
    height: fit-content;
    background-color: transparent;
    border: none;
    color: white;
    width: 50px;
    z-index: 15;
}

select:focus {
    outline: none;
}



.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu span {
    z-index: revert-layer;
    height: 3px;
    background: #fff;
    margin: 4px 0;
    width: 25px;
    transition: all 0.3s ease;
}


.nav-item-dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--header-background-color, #333); /* Adjust color as needed */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
    /* min-width: 150px;  */
    width: max-content; 
    /* max-width: 300px; */
    list-style: none;
    z-index: 10; 
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}

.dropdown-menu li {
    margin: 0;
}

.dropdown-menu a {
    display: block;
    padding: 7px 3px;
    text-decoration:none;
    color: var(--header-color);
    font-size: var(--nav--dd-fs);
    text-transform: capitalize !important;
    /* font-weight: 500; */
    transition: background-color 0.8s ease;
    white-space: nowrap;
}

.dropdown-menu a:hover {
    /* background-color: var(--animation-color); */
    color: white; /* Adjust text color on hover */
}

.dropdown-menu img{
    display: none;
    width: 15px;
    height: 15px;
}

.nav-item-dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


.hero {
    position: relative;
    height: 50vh;
    min-height: 27rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    background: url('../images_resized/background-picture-3.jpeg') center center/cover no-repeat;
    object-fit: cover;
    /* animation: bgSlide 45s infinite; */
}

.hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 5;
}

.hero-text {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 10;
    height: 100%;
}

.hero-description {
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
    text-wrap: pretty;
}

.hero-heading-wrap {
    width: 100%;
    text-align: center;
}


.heading-name-rum {
    text-align: left;
}

.hero-heading-wrap {
padding: 0 15px 0 15px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}


.heading-name-rum {
    text-align: left;
}

.hero-heading-first h1 {
    color: var(--h1-c);
    letter-spacing: 5px;
    font-size: clamp(2rem, 5.5vw, 9rem);
}



.hero-heading-desert {
    text-align: center;
    max-width: 100%;
}


.hero-heading h1 {
    animation: headingColors 45s linear infinite;
}



.hero-description p {
    line-height: 1.5;
    color: #c6baba;
    font-size: var(--text-fs);
}


.hero-heading {
    transition: opacity 0.5s ease-in-out;
    /* Smooth transition for opacity change */
}


/* Keyframe animation for heading colors */
@keyframes headingColors {
    0% {
        color: #D89F6F;
    }

    33.33% {
        color: #D89F6F;
    }

    66.66% {
        color: #585C68;
    }

    100% {
        color: #47271B;
    }
}




@keyframes bgSlide {
    0% {
        background: url('../images_resized/Main Wadi Rum Desert Picture.jpeg') center center/cover no-repeat;
    }

    33.33% {
        background: url('../images_resized/background-picture-2.jpeg') center center/cover no-repeat;
    }

    66.66% {
        background: url('../images_resized/background-picture-3.jpeg') center center/cover no-repeat;
    }

    100% {
        background: url('../images_resized/background-picture-4.jpeg') center center/cover no-repeat;
    }
}

@keyframes headingColors {
    0% {
        color: #D89F6F;
    }

    33.33% {
        color: #D89F6F;
    }

    66.66% {
        color: #585C68;
    }

    100% {
        color: #9C7966;
    }
}



.tour-content {
    display: grid;
    grid-gap: 20px;
    padding: 50px 0 0px 0px;
    max-width: 80%;
    margin: 0 auto;
}

@media (min-width: 600px) {
    .tour-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .tour-content {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1500px) {
    .tour-content {
        grid-template-columns: repeat(4, 1fr);
    }
}

.tour-card {
    position: relative;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    background-color: whitesmoke;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}

@media (min-width: 600px) {
    .tour-card {
        height: 300px;
    }
}

.tour-card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background-size: cover;
    background-position: 0 0;
    transition: transform calc(var(--d) * 1.5) var(--e);
    pointer-events: none;
}

.tour-card:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.320) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.540) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.790) 100%);
    transform: translateY(-50%);
    transition: transform calc(var(--d) * 2) var(--e);
}

.tour-card:nth-child(1):before {
    background-image: url('../images_resized/surfing.jpg');
}

.tour-card:nth-child(2):before {
    background-image: url("../images_resized/background-picture-3.jpeg");
}

.tour-card:nth-child(3):before {
    background-image: url("../images_resized/Red\ Dune.jpeg");
}

.tour-card:nth-child(4):before {
    background-image: url("../images_resized/background-picture-4.jpeg");
}

.tour-card-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 1rem;
    transition: transform var(--d) var(--e);
    z-index: 1;
}

.tour-card-content>*+* {
    margin-top: 1rem;
}

.title {

    font-size: var(--h2-fs);
    font-weight: bold;
    line-height: 1.2;
}

.copy {
    color: var(--primary-color);
    font-size: var(--text-fs);
    line-height: 1.35;
}

.btn {
    padding: 8px 12px;
    background: var(--buttons-background);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background: white;
    /* White background on hover */
    color: #FF6F61;
    /* Text color becomes orange to contrast */
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    border: 1px solid #FF6F61;
}

.btn:focus {
    /* outline: 1px dashed yellow; */
    background: white;
    /* White background on hover */
    color: #FF6F61;
    /* Text color becomes orange to contrast */
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    border: 1px solid #FF6F61;
}

@media (hover: hover) and (min-width: 600px) {
    .tour-card:after {
        transform: translateY(0);
    }

    .tour-card-content {
        transform: translateY(calc(100% - 4.5rem));
    }

    .tour-card-content>*:not(.title) {
        opacity: 0;
        transform: translateY(1rem);
        transition: transform var(--d) var(--e), opacity var(--d) var(--e);
    }

    .tour-card:hover,
    .tour-card:focus-within {
        align-items: center;
    }

    .tour-card:hover:before,
    .tour-card:focus-within:before {
        transform: translateY(-4%);
    }

    .tour-card:hover:after,
    .tour-card:focus-within:after {
        transform: translateY(-50%);
    }

    .tour-card:hover .tour-card-content,
    .tour-card:focus-within .tour-card-content {
        transform: translateY(0);
    }

    .tour-card:hover .tour-card-content>*:not(.title),
    .tour-card:focus-within .tour-card-content>*:not(.title) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: calc(var(--d) / 8);
    }

    .tour-card:focus-within:before,
    .tour-card:focus-within:after,
    .tour-card:focus-within .tour-card-content,
    .tour-card:focus-within .tour-card-content>*:not(.title) {
        transition-duration: 0s;
    }
}

.tour-container,
.gallery {
    padding-top: var(--section-margin-top);
    scroll-margin-top: 40px;
    font-size: var(--text-fs);
}

.tour-container h1,
.spinner h1,
.contact-container h1,
.gallery h1 {
    text-transform: uppercase;
    color: var(--h1-c);
    font-weight: var(--h1-w);
    font-size: var(--h1-fs);
    margin-bottom: var(--h1-mb);
}


.container {
    display: flex;
    flex-direction: row;
    width: 80%;
    /* max-width: 1200px; */
    margin: 0 auto;
}

.text-content {
    flex: 1;
    padding: 20px 0;
}

.text-content h2
 {
    text-transform: uppercase;
    color: var(--h1-c);
    font-weight: var(--h1-w);
    font-size: var(--h1-fs);
    margin-bottom: 10px;

}

.text-content h3,
.gallery h3 {
    margin-bottom: 8px;
    color: var(--h1-c);
    font-weight: var(--h1-w);

}


.text-content h4 {
    color: var(--h1-c);
    font-weight: var(--h1-w);
}

.text-content p {
    /* color: var(--secondary-color); */
    font-size:var(--text-fs) ;
    line-height: 1.4;
    text-align: justify;
}

.tour-lists {
    margin-top: 25px;
    width: 100%;
    display: grid;
    grid-template-columns: 27% 17.5% 22.5% 33%;
    justify-items: stretch;
    align-items: start;
}

.hiking-lists{
    margin-top: 25px;
    text-align: left;
}


.locations-list img,
.hiking-lists img,
.included-list img,
.price-list img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.tour-list-wrapper{
   width: 95%;
   text-align: justify;
}
.tour-lists li{
    align-items: center;
    display: flex;
}

.text-content ul {
    text-align: left;
    list-style-type: none;
    margin-top: 15px;
    width: 100%;

}

.text-content ul li {
    margin-bottom: 10px;
    font-size: var(--form-fs);
}



.action-container {
    display: grid;
    align-items: center;
    margin-top: 20px;
}

/* .price {
    font-size: var(--price-fs);
    font-weight: bold;
    border-color: red;
    border: 2px;
    margin-right: 20px;
} */

.book-button {
    padding: var(--buttons-padding);
    background: var(--buttons-background);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
}

.book-button:hover {
    background: white; /* White background on hover */
    color: #FF6F61; /* Text color becomes orange to contrast */
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    border: 1px solid #FF6F61;
}

.image-content {

    width: 35%;
    display: flex;
    align-items: center;
    position: relative;
}


.image-content img {
    padding-left: 10%;
    width: 90%;
    object-fit: cover;

}

#tour-image{
    max-height: 350px;
    width: 30%;
    padding-left: 15px;
    object-fit: cover;
}

.gallery{
    padding-top: var(--section-margin-top);
    text-align: center;
    width: 100%;
    padding:  0 10%;
    scroll-margin-top: 40px;
}

.row {
    /* max-height: 90vh;
    height: 90vh; */
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.column {
    flex: 33.3%;
    max-width: 33.2%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    height: 300px;
    opacity: 1;
    transition: 0.5s;
}

.column img:hover {
    cursor: pointer;
    filter: brightness(0.5);

}


/* Responsive layout - makes a two column-layout instead of 3 columns */
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }

    .row .column:nth-of-type(3) {
        display: none;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}


.cta {
    position: relative;
    margin-top: 50px;
    height: 22rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cta::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images_resized/background-picture-3jpeg\ \(1\).jpeg") center center/cover no-repeat;
    filter: brightness(0.6);
    z-index: 1;
    /* Ensure it is below the text */
}

.cta-container {

    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.cta-content {
    z-index: 1;
    flex: 1;
    padding: 20px;
    text-align: center;
    /* margin-left: 10%; */
    width: 100%;
}

.cta-content h2 {
    transition: opacity 0.5s ease, transform 0.5s ease;
    color: white;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 30px;
    opacity: 1 !important;
    z-index: 2;
}

.cta-content p {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}

.cta-button {
    padding: var(--buttons-padding);
    background: var(--buttons-background);
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 2;
}

.cta-button:hover {
    background: white; /* White background on hover */
    color: #FF6F61; /* Text color becomes orange to contrast */
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    border: 1px solid #FF6F61;

}

.cta-image {
    flex: 1;
    text-align: right;
    padding: 20px;
    margin-right: 10%;
    width: 40%;
}

.cta-image img {
    max-width: 100%;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


footer {
    background-color: #fff;
    padding: 60px 0 20px 0;
    text-align: center;
    color: #D89F6F;
    clear: both;
    /* Ensure footer is positioned below content */
}

footer a {
    position: relative;
    text-decoration: none;
    color: #D89F6F;
    margin: 0 15px;
    padding-bottom: 5px;
}


footer div {
    margin-bottom: 10px;
}

footer div:last-child {
    font-size: 14px;
}

footer img {
    max-height: 30px;
}

footer img:hover {
    filter: invert(99%) sepia(88%) saturate(3965%) hue-rotate(303deg) brightness(89%) contrast(90%);
    transform: scale(1.1);
    cursor: pointer;
}




/* Extra Small Devices (Portrait Phones) */
@media (max-width: 320px) {
    :root {
        --h1-mb: 25px;
        --hh-fs: 2.5rem;
    }

    .hero {
        background: url("../images_resized/backgroud_mobile.jpg") center center/cover no-repeat;
        /* height: 100VH; */
    }

    .history h1,
    .tour h1,
    .gallery h3,
    .faq h1,
    .text-content h1 {
        margin-top: 25px;
    }


    header {
        padding: 0 5px 0 5px;
        background: white;
        color: black;
    }

    .logo-name-container {
        color: black;
    }

    .hamburger-menu {
        filter: invert(57%) sepia(21%) saturate(943%) hue-rotate(345deg) brightness(93%) contrast(87%);
        display: flex;
        z-index: 16;
    }

    .language-selector {
        color: black;
        height: 30px;
        margin-top: 10px;
        margin-left: 0;
        width: max-content;
    }

    .language-selector select {
        color: black;
    }




    nav {
        display: none;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 70%;
        background: white;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        transition: right 0.3s ease;
        z-index: 15;
    }

    nav.active {
        z-index: 15;
        display: block;
        right: 0;
    }

    .nav-links {
        flex-direction: column;
        padding: 50px 20px;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links a {

        /* color: black; */
        font-size: var(--nav-fs);
        font-weight: 500;
    }

    header {
        /* flex-direction: column; */
        align-items: flex-start;
        padding: 10px;
        max-width: 100vw;
        ;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        margin-left: 0;
        margin-bottom: 10px;
    }


    .dropdown-menu {
        background-color: transparent;
        position: static; /* Ensure the dropdown is positioned correctly */
        box-shadow: none; /* Optional: Remove shadow on mobile for simplicity */
        transform: none; /* No slide effect on mobile */
        opacity: 1; /* Always visible */
        visibility: visible; /* Always visible */
        transition: none; /* No transition for mobile */
        display: block;
    }

    .dropdown-menu a {
        padding-left: 10px; /* Adjust padding for touch screens */
        font-size: var(--nav-fs-mobile, 16px); /* Adjust font size for mobile if needed */
        border-bottom: none !important;
    }

    /* Optional: Style the dropdown trigger for mobile */
    .nav-item-dropdown 
     {
        display: block;
        text-align: left;
        /* border-bottom: 1px solid var(--header-border-color, #ccc); */
    }
    .dropdown-menu img{
        display: block;
    }

    .nav-item-dropdown li{
        margin: 0;
        display: flex;
        align-items: center;
        border-bottom: none !important;
    }

    /* Overlay styles */
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
        z-index: 10;
        transition: opacity 0.3s ease;
    }

    .overlay.active {
        display: block;
        opacity: 1;
    }

    .book-button {
        font-size: var(--text-fs);
        /* width: 9rem;
        height: 2.25rem; */

    }

    .container {
        flex-direction: column;
        width: 100%;
    }

    .tour-container {
        margin-top: 40px;
        padding: 0% 10%;
    }

    .text-content {
        color: rgb(0 0 0 / 70%);
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .text-content p {
        line-height: 1.6;
        text-align: justify;
        /* padding-bottom: 10px; */
    }

    .tour-list {
        text-align: left;
    }

    .description {
        text-align: left;
    }

    .tour-content {
        padding: 25px 0 0 0;
    }


    .action-container{
        display: flex;
        align-items: left;
    }

    .image-content {
        /* width: 100%;
        padding: 10px; */
        display: none;
    }

    #tour-image{
        max-height: 350px;
        width: 100%;
        padding-left: 0;
        object-fit: cover;
    }

    .tour-container h1 {
        font-size: var(--h1-fs);
        margin-bottom: 20px;
    }
    

    .tour-lists {
        line-height: 1.6;
        margin-top: 0;
        display: block;
        text-align: left;
    }

    .tour-lists h4{
        margin-top: 20px;
    }

    .gallery{
        padding: 0;
    }

    .row {
        padding: 0;
        /* flex-wrap:nowrap; */
    }

    .column img {
        margin-top: 2px;
    }

    .column {
        padding: 0 2px;
    }


}


/* Small Devices (Landscape Phones) */
@media (min-width: 321px) and (max-width: 480px) {
    :root {
        --h1-mb: 25px;
        --hh-fs: 2.5rem;
    }

    .hero {
        background: url("../images_resized/backgroud_mobile.jpg") center center/cover no-repeat;
        /* height: 100VH; */
    }

    .history h1,
    .tour h1,
    .gallery h3,
    .faq h1,
    .text-content h1 {
        margin-top: 25px;
    }


    header {
        padding: 0 5px 0 5px;
        background: white;
        color: black;
    }

    .logo-name-container {
        color: black;
    }

    .hamburger-menu {
        filter: invert(57%) sepia(21%) saturate(943%) hue-rotate(345deg) brightness(93%) contrast(87%);
        display: flex;
        z-index: 16;
    }

    .language-selector {
        color: black;
        height: 30px;
        margin-top: 10px;
        margin-left: 0;
        width: max-content;
    }

    .language-selector select {
        color: black;
    }




    nav {
        display: none;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 70%;
        background: white;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        transition: right 0.3s ease;
        z-index: 15;
    }

    nav.active {
        z-index: 15;
        display: block;
        right: 0;
    }

    .nav-links {
        flex-direction: column;
        padding: 50px 20px;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links a {

        /* color: black; */
        font-size: var(--nav-fs);
        font-weight: 500;
    }

    header {
        /* flex-direction: column; */
        align-items: flex-start;
        padding: 10px;
        max-width: 100vw;
        ;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
    }

    .nav-links li {
        margin-left: 0;
        margin-bottom: 10px;
    }


    .dropdown-menu {
        background-color: transparent;
        position: static; /* Ensure the dropdown is positioned correctly */
        box-shadow: none; /* Optional: Remove shadow on mobile for simplicity */
        transform: none; /* No slide effect on mobile */
        opacity: 1; /* Always visible */
        visibility: visible; /* Always visible */
        transition: none; /* No transition for mobile */
        display: block;
    }

    .dropdown-menu a {
        padding-left: 10px; /* Adjust padding for touch screens */
        font-size: var(--nav-fs-mobile, 16px); /* Adjust font size for mobile if needed */
        border-bottom: none !important;
    }

    /* Optional: Style the dropdown trigger for mobile */
    .nav-item-dropdown 
     {
        display: block;
        text-align: left;
        /* border-bottom: 1px solid var(--header-border-color, #ccc); */
    }
    .dropdown-menu img{
        display: block;
    }

    .nav-item-dropdown li{
        margin: 0;
        display: flex;
        align-items: center;
        border-bottom: none !important;
    }


    /* Overlay styles */
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
        z-index: 10;
        transition: opacity 0.3s ease;
    }

    .overlay.active {
        display: block;
        opacity: 1;
    }

    .book-button {
        font-size: var(--text-fs);
        /* width: 9rem;
        height: 2.25rem; */

    }

    .container {
        flex-direction: column;
        width: 100%;
    }

    .tour-container {
        margin-top: 40px;
        padding: 0% 10%;
    }

    .text-content {
        color: rgb(0 0 0 / 70%);
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .text-content p {
        line-height: 1.6;
        text-align: justify;
        /* padding-bottom: 10px; */
    }

    .tour-list {
        text-align: left;
    }

    .description {
        text-align: left;
    }

    .tour-content {
        padding: 25px 0 0 0;
    }


    .action-container{
        display: flex;
        align-items: left;
    }

    .image-content {
        /* width: 100%;
        padding: 10px; */
        display: none;
    }

    #tour-image{
        max-height: 350px;
        width: 100%;
        padding-left: 0;
        object-fit: cover;
    }

    .tour-container h1 {
        font-size: var(--h1-fs);
        margin-bottom: 20px;
    }
    

    .tour-lists {
        line-height: 1.6;
        margin-top: 0;
        display: block;
        text-align: left;
    }

    .tour-lists h4{
        margin-top: 20px;
    }

    .gallery{
        padding: 0;
    }

    .row {
        padding: 0;
        /* flex-wrap:nowrap; */
    }

    .column img {
        margin-top: 2px;
    }

    .column {
        padding: 0 2px;
    }


}

/* Small Tablets (Portrait) */
@media (min-width: 481px) and (max-width: 768px) {

    :root {
        --nav-fs: 12px;
        --text-fs: 12px;
        --h1-fs: 20px;
        --price-fs: 15px;
        --tour-link-fw: 300;
        --form-fs: 12px;
        --hh-fs: 2.5rem;
    }

    header {
        padding: 0 5px 0 5px;
        background: white;
        color: black;
    }

    .logo-name-container {
        color: black;
    }

    .hamburger-menu {
        filter: invert(57%) sepia(21%) saturate(943%) hue-rotate(345deg) brightness(93%) contrast(87%);
        display: flex;
        z-index: 16;
    }

    .language-selector {
        color: black;
        height: 30px;
        margin-top: 10px;
        margin-left: 0;
        width: max-content;
    }

    .language-selector select {
        color: black;
    }




    nav {
        display: none;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 70%;
        background: white;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
        transition: right 0.3s ease;
        z-index: 15;
    }

    nav.active {
        z-index: 15;
        display: block;
        right: 0;
    }

    .nav-links {
        flex-direction: column;
        padding: 50px 20px;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links a {

        /* color: black; */
        font-size: var(--nav-fs);
        font-weight: 500;
    }


    .dropdown-menu {
        background-color: transparent;
        position: static; /* Ensure the dropdown is positioned correctly */
        box-shadow: none; /* Optional: Remove shadow on mobile for simplicity */
        transform: none; /* No slide effect on mobile */
        opacity: 1; /* Always visible */
        visibility: visible; /* Always visible */
        transition: none; /* No transition for mobile */
        display: block;
    }

    .dropdown-menu a {
        padding-left: 10px; /* Adjust padding for touch screens */
        font-size: var(--nav-fs-mobile, 16px); /* Adjust font size for mobile if needed */
        border-bottom: none !important;
    }

    /* Optional: Style the dropdown trigger for mobile */
    .nav-item-dropdown 
     {
        display: block;
        text-align: left;
        /* border-bottom: 1px solid var(--header-border-color, #ccc); */
    }
    .dropdown-menu img{
        display: block;
    }

    .nav-item-dropdown li{
        margin: 0;
        display: flex;
        align-items: center;
        border-bottom: none !important;
    }
    /* Overlay styles */
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3));
        z-index: 10;
        transition: opacity 0.3s ease;
    }

    .overlay.active {
        display: block;
        opacity: 1;
    }

    .logo-name-container {
        color: black;
    }


    .hero {
        background: url("../images_resized/backgroud_mobile.jpg") center center/cover no-repeat;
    }

    .book-button {
        font-size: var(--text-fs);
        /* width: 9rem;
        height: 2.25rem; */

    }

    .tour-container {
        padding: 0% 10%
    }

    .container {
        margin-top: 50px;
        flex-direction: column;
        width: 100%;
    }

    .image-content {
        /* width: 100%;
        padding: 10px; */
        display: none;
    }


    .text-content {
        text-align: justify;
        width: 100%;
        padding: 10px;
    }

    .tour-container h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    #tour-image{
        max-height: 350px;
        width: 40%;
        padding-left: 15px;
        object-fit: cover;
    }

    .tour-lists{
        text-align: left;
    }

    .action-container{
        display: flex;
        align-items: center;
    }


    footer div:last-child {
        font-size: 12px;
    }

    footer a {
        font-size: var(--nav-fs);
    }

    footer a:after,
    .nav-links a:after {
        height: 2px;
    }
}

/* Large Tablets (Landscape) */
@media (min-width: 769px) and (max-width: 1024px) {

    :root {
        --nav-fs: 14px;
        --text-fs: 14px;
        --h1-fs: 24px;
        --price-fs: 17px;
        --tour-link-fw: 400;
        --form-fs: 12px;
        --hh-fs: 3.8rem;
    }

    .image-content{
        display: none;
    }


    /* .book-button {
        width: 9rem;
        height: 2.25rem;
    } */

    footer div:last-child {
        font-size: 12px;
    }

    footer a {
        font-size: var(--nav-fs);
    }

    footer a:after,
    .nav-links a:after {
        height: 2px;
    }
    #tour-image{
        max-height: 350px;
        width: 40%;
        padding-left: 15px;
        object-fit: cover;
    }

}

/* Small Desktops */
@media (min-width: 1025px) and (max-width: 1200px) {

    :root {
        --h2-fs: 19px;
        --hh-fs: 4.5rem;
    }

    .image-content{
        display: none;
    }


}

/* Medium Desktops */
@media (min-width: 1201px) and (max-width: 1600px) {
    :root {
        --hh-fs: 5.5rem;
        --text-fs:15px;
        --form-fs:14px;
    }

    .text-content{
        line-height: 1.7;
    }

    
}

/* Large Desktops */
@media (min-width: 1601px) {
    :root {
        --hh-fs: 5.5rem;
    }
}